@font-face {
    font-family: "Retro Computer";
    src: url("../fonts/retro_computer.ttf");
}

@font-face {
    font-family: "Justice Out";
    src: url("../fonts/justiceout.ttf");
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#app {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}